.idea/
analysis/
corpus/
gen_corpus/
dist/
build/
*.egg-info/
classes/__pycache__
stats/english/counts_1grams.pickle
stats/english/counts_2grams.pickle
stats/twitter/counts_1grams.pickle
stats/twitter/counts_2grams.pickle
*.pyc
pypi_push.bat