.idea/
analysis/
corpus/
gen_corpus/
dist/
build/
*.egg-info/
classes/__pycache__
*.pyc
/prototyping.py
ekphrasis/__pycache__/
ekphrasis/classes/__pycache__/
ekphrasis/dicts/__pycache__/
ekphrasis/dicts/noslang/__pycache__/
ekphrasis/examples/.ipynb_checkpoints/
ekphrasis/examples/word_segmentation-Copy1.ipynb
ekphrasis/stats/**
ekphrasis/utils/__pycache__/
/local_install.bat
