# MANIFEST.in
exclude .gitignore
exclude .coverage
exclude .travis.yml
include README.rst
include README.md
include setup.cfg
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *
recursive-include ekphrasis/regexes *
recursive-include regexes *
recursive-exclude ekphrasis/stats *

# data files
#include stats/**/**/*.txt